@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/LoraRomanMedium.ttf");
  font-family: "Lora";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/OpenSansRomanRegular.ttf");
  font-family: "Open Sans";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/OpenSansRomanSemiBold.ttf");
  font-family: "Open Sans";
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/LoraRomanRegular.ttf");
  font-family: "Lora";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/OpenSans.ttf");
  font-family: "Open Sans";
  font-weight: 400;
}
